In [16]:
import wandb
import pandas as pd

api = wandb.Api()

PROJECT = "asi-project"

runs = api.runs(PROJECT)

records = []
for run in runs:
    metrics = run.summary
    config = run.config
    records.append({
        "run_id": run.id,
        "name": run.name,
        "mae": metrics.get("mae"),
        "mape": metrics.get("mape"),
        "rmse": metrics.get("rmse"),
        "mse": metrics.get("mse"),
        "r2": metrics.get("r2"),
        "_runtime": metrics.get("_runtime"),
    })

df = pd.DataFrame(records)
df.sort_values("mae")

,run_id,name,mae,mape,rmse,mse,r2,_runtime
0,smi3qwbd,splendid-lake-1,0.049028,0.001546,5.084088,25.847949,0.998689,0
7,zy1lkdaj,serene-valley-8,0.049028,0.001546,5.084088,25.847949,0.998689,0
1,dv6yfpyk,divine-durian-2,0.049028,0.001546,5.084088,25.847949,0.998689,0
6,b4sqcr6w,ruby-pond-7,0.049144,0.001986,4.750120,22.563638,0.998856,0
4,dr324mmx,happy-sea-5,0.050079,0.001932,5.174170,26.772031,0.998642,651
2,nxjupbfk,major-plasma-3,0.055393,0.001615,6.451234,41.618416,0.997889,0
3,gkb8bskl,sandy-sun-4,0.055393,0.001615,6.451234,41.618416,0.997889,0
11,l286uhy6,vibrant-armadillo-12,0.220666,0.075311,12.391677,153.553654,0.992407,0
14,q3x05q68,gentle-mountain-15,0.370108,0.138567,11.821234,139.741563,0.993090,0
12,jj835c88,magic-dust-13,0.501203,0.189422,14.602788,213.241408,0.989456,1
15,4r4v28kj,glorious-tree-16,0.501203,0.189422,14.602788,213.241408,0.989456,0
5,of7y99d5,worthy-serenity-6,NaN,NaN,NaN,NaN,NaN,597
8,620jzudg,comfy-dew-9,NaN,NaN,NaN,NaN,NaN,1
9,80sre6we,avid-microwave-10,NaN,NaN,NaN,NaN,NaN,597
10,riovebma,wobbly-star-11,NaN,NaN,NaN,NaN,NaN,598
13,d2p3octd,dandy-galaxy-14,NaN,NaN,NaN,NaN,NaN,3
16,rwzu7pix,super-rain-17,NaN,NaN,NaN,NaN,NaN,1

In [20]:
api = wandb.Api()
artifact = api.artifact("asi-project/run-smi3qwbd-history:v0")
artifact.aliases.append("production")
artifact.save()